In [29]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [30]:
# load dataset
df = pd.read_csv('doceree-HCP_Train.csv', encoding='utf-8')
df.head()

,PK,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,Portland,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,Arlington,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/deci...,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,New Meadows,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,NaN,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://globalrph.com/medcalcs/warfarin-mainte...,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,Houston,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Online Medical Journal,Website,https://www.cureus.com/articles/58184-a-review...,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In [31]:
# check for null values
df.isnull().sum()

PK                     0
DEVICETYPE             0
PLATFORM_ID            0
BIDREQUESTIP           0
USERPLATFORMUID        4
USERCITY            6359
USERZIPCODE         4592
USERAGENT              2
PLATFORMTYPE           0
CHANNELTYPE            0
URL                    0
KEYWORDS               0
TAXONOMY           81624
IS_HCP                 1
dtype: int64

In [32]:
#target column: TAXONOMY , IS_HCP

# check for unique values in target column
df['TAXONOMY'].unique()

array([nan, '2084P0800X', '2084P0804X', '2084N0400X', '2084V0102X',
       '207RC0000X', '2084S0012X', '207R00000X', '208000000X',
       '2084N0402X', '207RE0101X', '207Q00000X', '363LP0808X',
       '207W00000X', '2084N0600X', '207RI0200X', '2080P0207X',
       '207T00000X', '2084B0040X', '363AM0700X', '207RG0100X',
       '207RH0003X', '363LF0000X', '207N00000X', '207RG0300X',
       '202C00000X', '208M00000X', '207P00000X', '2083X0100X',
       '390200000X', '207V00000X', '207RC0200X', '363LP0200X',
       '363A00000X', '183500000X', '207X00000X', '207RP1001X',
       '207RA0401X', '208600000X', '207RH0002X', '363L00000X',
       '207RX0202X', '2084P2900X', '2084P0805X', '174400000X',
       '207RI0011X', '208100000X', '208D00000X', '204D00000X',
       '207QG0300X', '363LA2200X', '2084F0202X', '2084D0003X',
       '213ES0131X', '207RA0201X', '2080A0000X', '122300000X',
       '207RC0001X', '207RR0500X', '207RH0000X', '207ZP0105X',
       '2080P0206X', '207VE0102X', '2085R0001X', '2083P0901X',
       '364SP0809X', '207QA0401X', '103T00000X', '207L00000X',
       '208G00000X', '2083A0100X', '207UN0901X', '2084A2900X',
       '2080P0008X', '163W00000X', '207VG0400X', '207XS0106X',
       '2080P0203X', '2084P0802X', '2084A0401X', '208800000X',
       '207YX0901X', '207QH0002X', '363AS0400X', '207RS0012X',
       '363LA2100X', '2081P2900X', '363LN0000X', '2085R0202X',
       '2084P0015X', '207PE0005X', '204R00000X', '207QA0505X',
       '207K00000X', '163WP0808X', '2084N0008X', '207Y00000X',
       '207YX0905X', '207RN0300X', '2085N0700X', '2085P0229X',
       '376K00000X', '204C00000X', '208VP0014X', '207LP2900X',
       '207QS0010X', '364SP0807X', '204F00000X', '163WP0809X',
       '207KI0005X', '207YX0007X', '207KA0200X', '207VM0101X',
       '2080P0210X', '207YS0123X', '2080N0001X', '207ZB0001X',
       '207NS0135X', '208VP0000X', '363LG0600X', '2080P0216X',
       '208200000X', '2080P0202X', '2086S0102X', '2086S0122X',
       '207RA0000X', '207VX0000X', '207RI0008X', '207SG0201X',
       '207WX0109X', '207RA0001X', '207ZN0500X', '1835N1003X',
       '173000000X', '364SP0808X', '163WP0200X', '2080P0208X',
       '2086S0129X', '163WD0400X', '363LP2300X', '207ND0900X',
       '2080P0214X', '207SG0203X', '207PE0004X', '207ZP0213X',
       '163WP0807X', '207ZD0900X', '163WC0400X', '367A00000X',
       '2080P0006X', '1041C0700X', '106H00000X', '207WX0107X',
       '2085R0203X', '207ZP0102X', '2086S0120X', '367500000X',
       '152W00000X', '207VF0040X', '364SF0001X', '2081N0008X',
       '207ZP0101X', '2086X0206X', '207WX0200X', '111N00000X',
       '2080S0012X', '363LX0001X', '207PT0002X', '207RS0010X',
       '207U00000X', '103TC0700X', '208C00000X', '2080P0205X',
       '2081S0010X', '2084P0005X', '207RB0002X', '207ZF0201X',
       '282NC2000X', '207QS1201X', '207WX0120X', '2085R0204X',
       '207XX0005X', '246QM0706X', '207ZH0000X', '207PS0010X',
       '207VX0201X', '364S00000X', '207YP0228X', '363LC1500X',
       '207ND0101X', '2081H0002X', '146D00000X', '2084P0301X',
       '207ZC0500X', '2084S0010X', '207WX0110X', '1223P0221X',
       '2081P0004X', '1835P1200X', '367H00000X', '2255A2300X',
       '207PP0204X', '363LW0102X', '1835P2201X', '2085N0904X',
       '225400000X', '163WG0000X', '207XX0801X'], dtype=object)

In [33]:
#value counts of target column
df['TAXONOMY'].value_counts()

2084P0800X    7930
2084N0400X    6621
207Q00000X    3997
207R00000X    3190
208000000X     837
              ...
163WC0400X       1
246QM0706X       1
1835N1003X       1
207RI0008X       1
207XX0801X       1
Name: TAXONOMY, Length: 207, dtype: int64

In [34]:
#value counts of target column
df['IS_HCP'].value_counts()

0.0    79756
1.0    34180
Name: IS_HCP, dtype: int64

In [36]:
df['IS_HCP'].value_counts()

0.0    79756
1.0    34180
Name: IS_HCP, dtype: int64

In [37]:
df.describe()

                  PK    PLATFORM_ID   USERZIPCODE         IS_HCP
count  113937.000000  113937.000000  1.093450e+05  113936.000000
mean    57969.000000       3.574993  1.830240e+07       0.299993
std     32890.923148       2.569019  1.066908e+08       0.458257
min      1001.000000       1.000000  6.020000e+02       0.000000
25%     29485.000000       2.000000  1.935500e+04       0.000000
50%     57969.000000       2.000000  4.321000e+04       0.000000
75%     86453.000000       6.000000  7.709000e+04       1.000000
max    114937.000000      16.000000  9.970149e+08       1.000000

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PK               113937 non-null  int64
 1   DEVICETYPE       113937 non-null  object
 2   PLATFORM_ID      113937 non-null  int64
 3   BIDREQUESTIP     113937 non-null  object
 4   USERPLATFORMUID  113933 non-null  object
 5   USERCITY         107578 non-null  object
 6   USERZIPCODE      109345 non-null  float64
 7   USERAGENT        113935 non-null  object
 8   PLATFORMTYPE     113937 non-null  object
 9   CHANNELTYPE      113937 non-null  object
 10  URL              113937 non-null  object
 11  KEYWORDS         113937 non-null  object
 12  TAXONOMY         32313 non-null   object
 13  IS_HCP           113936 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 12.2+ MB

In [39]:
#impute missing values of numeric columns with mean and categorical columns with mode

cat_cols = df.select_dtypes(include='object').columns

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

num_cols = df.select_dtypes(include=['int64','float64']).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].mean())

In [40]:
#feature engineering on keyword column to extract keywords
# tokenize the keywords column where words are separated by '|'
df['KEYWORDS'] = df['KEYWORDS'].str.split('|')

# Create a set to store all keywords
all_keywords = set()

# Extract unique keywords and add them to the set
for keywords in df['KEYWORDS']:
    all_keywords.update(keywords)

# Create a column for each keyword and assign values
for keyword in all_keywords:
    df[keyword] = df['KEYWORDS'].apply(lambda x: int(keyword in x))

# Drop the 'KEYWORDS' column
df.drop(['KEYWORDS'], axis=1, inplace=True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_28356\1805060499.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[keyword] = df['KEYWORDS'].apply(lambda x: int(keyword in x))

In [41]:
df.drop(['USERZIPCODE'], axis=1, inplace=True)
df.drop('CHANNELTYPE', axis=1, inplace=True)

In [42]:
# drop rows where is_hcp and TAXONOMY is null
df.dropna(subset=['IS_HCP', 'TAXONOMY'], inplace=True)
df.shape

(113937, 1625)

In [43]:
# check for null values
df.isnull().sum()

PK                 0
DEVICETYPE         0
PLATFORM_ID        0
BIDREQUESTIP       0
USERPLATFORMUID    0
                  ..
Polyarthritis      0
ear diseases       0
dirofilariasis     0
Orthodontics       0
seasonal           0
Length: 1625, dtype: int64

In [44]:
#change the classes 1.0 to 1 and 0.0 to 0
df['IS_HCP'] = df['IS_HCP'].astype(int)

In [45]:
#encode categorical columns using label encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

cat_cols = df.select_dtypes(include='object').columns

for col in cat_cols:
    df[col] = le.fit_transform(df[col])

In [46]:
#save the df as csv
df.to_csv('df_train.csv', index=False)

In [48]:
print(df['IS_HCP'].value_counts())

0    79757
1    34180
Name: IS_HCP, dtype: int64